<template>
  <AisClearRefinements :excludedAttributes="['price']">
    <template v-slot="{ canRefine, refine, createURL }">
      <v-btn
        text
        style="text-transform: none"
        color="red"
        :href="createURL()"
        @click.prevent="refine"
        :disabled="!canRefine"
      >
        <v-icon left x-small>mdi-refresh</v-icon>
        <span>Καθαρισμός</span>
      </v-btn>
    </template>
  </AisClearRefinements>
</template>

<script>
import { AisClearRefinements } from "vue-instantsearch";
export default {
  components: {
    AisClearRefinements,
  },
};
</script>