<template>
  <AisCurrentRefinements>
    <template v-slot:item="{ item, refine, createURL }">
      <div
        style="cursor: pointer"
        v-if="item.label == 'discount'"
        :href="customCreateURL(createURL)"
        @click.prevent="customRefine(refine)"
      >
        <v-btn
          small
          depressed
          class="text-none"
          color="#f2f3fe"
          style="border: 1px solid #c9cefb"
        >
          <span style="color: #3141b2"> Σε έκπτωση </span>
          <v-divider vertical class="pl-2" />
          <v-icon color="#3141b2" small right>mdi-close</v-icon>
        </v-btn>
      </div>
      <div
        v-else
        style="cursor: pointer"
        v-for="(refinement, index) in item.refinements"
        :key="
          [
            refinement.attribute,
            refinement.type,
            refinement.value,
            refinement.operator,
          ].join(':')
        "
        :href="createURL(refinement)"
        @click.prevent="refine(refinement)"
      >
        <v-btn
          small
          depressed
          :class="`text-none ${index > 0 ? 'ml-4' : ''}`"
          color="#f2f3fe"
          style="border: 1px solid #c9cefb"
        >
          <span style="color: #3141b2">{{
            refinement.attribute == "hierarchicalCategories.lvl0"
              ? refinement.label.substring(
                  refinement.label.lastIndexOf("> ") + 1,
                  refinement.label.length
                )
              : refinement.label
          }}</span>
          <v-divider vertical class="pl-2" />
          <v-icon color="#3141b2" small right>mdi-close</v-icon>
        </v-btn>
      </div>
    </template>
  </AisCurrentRefinements>
</template>

<script>
import { AisCurrentRefinements } from "vue-instantsearch";
export default {
  components: {
    AisCurrentRefinements,
  },
  data: () => ({
    discountRefinement: [
      {
        attribute: "discount",
        type: "numeric",
        value: 0.1,
        label: "≥ 0.1",
        operator: ">=",
      },
      {
        attribute: "discount",
        type: "numeric",
        value: 1,
        label: "≤ 1",
        operator: "<=",
      },
    ],
  }),
  methods: {
    customCreateURL(createURL) {
      for (let i = 0; i < this.discountRefinement.length; i++) {
        createURL(this.discountRefinement[i]);
      }
    },
    customRefine(refine) {
      for (let i = 0; i < this.discountRefinement.length; i++)
        refine(this.discountRefinement[i]);
    },
  },
};
</script>