<template>
  <v-btn fab fixed bottom right @click.stop="$emit('changeDrawerStatus')">
    <v-badge
      overlap
      color="#f05a22"
      :content="mobileActiveFilters"
      v-if="mobileActiveFilters"
    >
      <v-icon color="green">mdi-filter-variant</v-icon>
    </v-badge>
    <v-icon v-else color="green">mdi-filter-variant</v-icon>
  </v-btn>
</template>

<script>
export default {
  props: ["mobileActiveFilters"],
};
</script>