<template>
  <div>
    <ais-panel>
      <template v-slot:header>
        <span class="text-none black--text" style="font-size: 16px">{{
          title
        }}</span>
      </template>
      <AisRefinementList
        show-more
        :attribute="attr"
        class="pl-1"
        :limit="$vuetify.breakpoint.mobile ? 5 : 10"
      >
        <template
          v-slot="{
            items,
            canToggleShowMore,
            isShowingMore,
            toggleShowMore,
            refine,
            createURL,
          }"
        >
          <p
            class="mb-1"
            style="cursor: pointer; font-size: 14px"
            v-for="item in items"
            :key="item.value"
            :href="createURL(item.value)"
            :style="`color: ${item.isRefined ? '#3D4EE0' : 'black'}`"
            @click.prevent="refine(item.value)"
          >
            {{ item.label }}
            <span style="color: #777777">({{ item.count }})</span>
          </p>

          <span
            v-if="canToggleShowMore"
            class="primary--text"
            style="cursor: pointer; font-size: 14px"
            :disabled="!canToggleShowMore"
            @click="toggleShowMore"
          >
            {{ isShowingMore ? "Δες λιγότερα" : "Δες περισσότερα"
            }}<v-icon color="primary" small>mdi-chevron-right</v-icon>
          </span>
        </template>
      </AisRefinementList>
    </ais-panel>
  </div>
</template>

<script>
import { AisPanel, AisRefinementList } from "vue-instantsearch";
export default {
  props: ["attr", "title"],
  components: {
    AisPanel,
    AisRefinementList,
  },
};
</script>
