<template>
  <AisSortBy
    :items="[
      {
        value: 'my_own_prefix_gear',
        label: 'Δημοτικότητα',
      },
      { value: 'price_asc', label: 'Αύξουσα τιμή' },
      { value: 'price_desc', label: 'Φθίνουσα τιμή' },
    ]"
  >
    <template v-slot="{ items, currentRefinement, refine }">
      <v-select
        outlined
        dense
        color="#3D4EE0"
        hide-details=""
        :items="items"
        item-value="value"
        item-text="label"
        :value="currentRefinement"
        @change="(value) => refine(value)"
      />
    </template>
  </AisSortBy>
</template>

<script>
import { AisSortBy } from "vue-instantsearch";
export default {
  components: {
    AisSortBy,
  },
};
</script>