<template>
  <v-app-bar app color="primary" height="100" flat>
    <v-row justify="space-between">
      <v-col cols="1" />
      <v-col cols="6">
        <AisSearchBox>
          <template v-slot="{ currentRefinement, isSearchStalled, refine }">
            <v-text-field
              class="mt-5"
              clear-icon="mdi-close"
              color="black"
              rounded
              filled
              clearable
              placeholder="Αναζήτηση"
              prepend-inner-icon="mdi-magnify"
              background-color="rgba(255, 255, 255,0.8)"
              :value="currentRefinement"
              @keyup.enter="refine($event.currentTarget.value)"
              @click:clear="refine($event.currentTarget.value)"
            ></v-text-field>
          </template>
        </AisSearchBox>
      </v-col>
      <v-col cols="1" />
    </v-row>
  </v-app-bar>
</template>

<script>
import { AisSearchBox } from "vue-instantsearch";
export default {
  components: {
    AisSearchBox,
  },
};
</script>