<template>
  <div ref="autocompleteContainer"></div>
</template>

<script>
import { createWidgetMixin } from "vue-instantsearch/vue2/es";
import { connectSearchBox } from "instantsearch.js/es/connectors";
import { autocomplete } from "@algolia/autocomplete-js";
import { createQuerySuggestionsPlugin } from "@algolia/autocomplete-plugin-query-suggestions";

import "@algolia/autocomplete-theme-classic";
import { INSTANT_SEARCH_INDEX_NAME } from "@/constants";
import { searchClient } from "@/searchClient";

export default {
  mixins: [createWidgetMixin({ connector: connectSearchBox })],
  mounted() {
    const { instantSearchInstance } = this;

    const querySuggestionsPlugin = createQuerySuggestionsPlugin({
      searchClient,
      indexName: "my_own_prefix_gear_query_suggestions",
    });

    // Set the InstantSearch index UI state from external events
    function setInstantSearchUiState({ query }) {
      instantSearchInstance.setUiState((uiState) => ({
        ...uiState,
        [INSTANT_SEARCH_INDEX_NAME]: {
          ...uiState[INSTANT_SEARCH_INDEX_NAME],
          // We reset the page when the search state changes
          page: 1,
          query,
        },
      }));
    }

    const initialState =
      instantSearchInstance.mainIndex.getHelper()?.state || {};

    this.autocompleteInstance = autocomplete({
      container: this.$refs.autocompleteContainer,
      placeholder: "Αναζήτηση προϊόντων",
      detachedMediaQuery: "none",
      initialState: { query: initialState.query || "" },
      onSubmit({ state }) {
        setInstantSearchUiState({ query: state.query });
      },
      onReset() {
        setInstantSearchUiState({ query: "", resetCategory: true });
      },
      // onStateChange({ prevState, state }) {
      //   if (prevState.query !== state.query) {
      //     setInstantSearchUiState({ query: state.query });
      //   }
      // },
      openOnFocus: true,
      plugins: [querySuggestionsPlugin],
    });
  },
  beforeDestroy() {
    this.autocompleteInstance?.destroy();
  },
};
</script>

<style>
.aa-Autocomplete {
  border-radius: 10px;
}
</style>