<template >
  <div>
    <div v-for="item in items" :key="item.value">
      <span
        class="mb-1"
        style="cursor: pointer; font-size: 14px"
        :href="createURL(item.value)"
        :style="`color: ${item.isRefined ? '#3D4EE0' : 'black'}`"
        @click.prevent="refine(item.value)"
      >
        <v-icon small v-if="item.isRefined">mdi-chevron-up</v-icon>
        <v-icon small v-else>mdi-chevron-down</v-icon>
        {{ item.label }} <span style="color: #777777">({{ item.count }})</span>
      </span>
      <HierarchicalMenuList
        class="pl-3"
        v-if="item.data"
        :items="item.data"
        :refine="refine"
        :createURL="createURL"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: ["items", "refine", "createURL"],
};
</script>