<template>
  <ais-pagination :total-pages="6">
    <template
      v-slot="{
        currentRefinement,
        nbPages,
        pages,
        isFirstPage,
        isLastPage,
        refine,
        createURL,
      }"
    >
      <v-row justify="center">
        <v-col cols="1" class="mr-2" v-if="!isFirstPage">
          <v-btn
            style="min-width: 34px"
            width="34"
            height="34"
            :href="createURL(0)"
            @click.prevent="refine(0)"
          >
            <v-icon>mdi-page-first</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1" class="mr-2" v-if="!isFirstPage">
          <v-btn
            style="min-width: 34px"
            width="34"
            height="34"
            :href="createURL(currentRefinement - 1)"
            @click.prevent="refine(currentRefinement - 1)"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1" class="mr-2" v-for="page in pages" :key="page">
          <v-btn
            style="min-width: 34px"
            width="34"
            height="34"
            class="text-center"
            :color="page === currentRefinement ? 'primary' : ''"
            :href="createURL(page)"
            :style="{
              fontWeight: page === currentRefinement ? 'bold' : '',
            }"
            @click.prevent="refine(page)"
          >
            {{ page + 1 }}
          </v-btn>
        </v-col>
        <v-col cols="1" class="mr-2" v-if="!isLastPage">
          <v-btn
            style="min-width: 34px"
            width="34"
            height="34"
            :href="createURL(currentRefinement + 1)"
            @click.prevent="refine(currentRefinement + 1)"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="1" class="mr-2" v-if="!isLastPage">
          <v-btn
            style="min-width: 34px"
            width="34"
            height="34"
            :href="createURL(nbPages)"
            @click.prevent="refine(nbPages)"
          >
            <v-icon>mdi-page-last</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
  </ais-pagination>
</template>

<script>
import { AisPagination } from "vue-instantsearch";
export default {
  components: { AisPagination },
};
</script>

<style>
</style>