<template>
  <div>
    <v-row justify="space-between">
      <v-col><span style="font-size: 24px">Φίλτρα</span> </v-col>
      <v-col>
        <FiltersClearAll />
      </v-col>
    </v-row>

    <ais-panel class="mt-5">
      <template v-slot:header>
        <span class="text-none black--text" style="font-size: 16px"
          >Κατηγορίες</span
        >
      </template>
      <ais-hierarchical-menu
        :limit="$vuetify.breakpoint.mobile ? 5 : 15"
        class="pl-1"
        show-more
        :attributes="[
          'hierarchicalCategories.lvl0',
          'hierarchicalCategories.lvl1',
          'hierarchicalCategories.lvl2',
        ]"
      >
        <template
          v-slot="{
            items,
            canToggleShowMore,
            isShowingMore,
            refine,
            toggleShowMore,
            createURL,
          }"
        >
          <HierarchicalMenuList
            :items="items"
            :refine="refine"
            :createURL="createURL"
          />
          <span
            v-if="canToggleShowMore"
            class="primary--text"
            style="cursor: pointer; font-size: 14px"
            :disabled="!canToggleShowMore"
            @click="toggleShowMore()"
          >
            {{ isShowingMore ? "Δες λιγότερα" : "Δες περισσότερα"
            }}<v-icon color="primary" small>mdi-chevron-right</v-icon>
          </span>
        </template>
      </ais-hierarchical-menu>
    </ais-panel>
    <FiltersMultiple attr="supplier" title="Καταστήματα" />
    <FiltersMultiple attr="tags" title="Επιλογές αγοράς" />
    <ais-panel>
      <template v-slot:header>
        <span class="text-none black--text" style="font-size: 16px"
          >Άλλα φίλτρα</span
        >
      </template>
      <ais-numeric-menu
        class="ml-n4"
        attribute="discount"
        :items="[{ label: 'Σε έκπτωση', start: 0.1, end: 1 }]"
      >
      </ais-numeric-menu>
    </ais-panel>
  </div>
</template>

<script>
import {
  AisPanel,
  AisNumericMenu,
  AisMenu,
  AisToggleRefinement,
  AisRangeInput,
  AisHierarchicalMenu,
} from "vue-instantsearch";
export default {
  components: {
    AisPanel,
    AisNumericMenu,
    AisMenu,
    AisToggleRefinement,
    AisRangeInput,
    AisHierarchicalMenu,
  },
  data: () => ({
    sortItems: [
      { value: "my_own_prefix_gear", label: "Δημοτικότητα" },
      { value: "price_asc", label: "Αύξουσα τιμή" },
      { value: "price_desc", label: "Φθίνουσα τιμή" },
    ],
  }),
};
</script>