<template>
  <div>
    <v-row
      align="center"
      justify="center"
      :class="
        notAvailable && item.discount
          ? 'pt-3'
          : notAvailable && !item.discount
          ? 'pt-5'
          : ''
      "
    >
      <v-col
        cols="6"
        md="5"
        lg="6"
        :xl="
          $vuetify.breakpoint.width > 1900 && $vuetify.breakpoint.width < 2250
            ? 4
            : 6
        "
        :class="`font-weight-bold pl-4 ${!notAvailable ? 'mt-2' : ''}`"
      >
        <v-row>
          <span v-if="item.discount" class="text-decoration-line-through"
            >€{{ item.price }}</span
          > </v-row
        ><v-row>
          <span :class="item.discount ? 'red--text ' : ''"
            >€{{ item.discountedPrice }}</span
          ></v-row
        >
      </v-col>

      <v-col
        cols="5"
        md="6"
        lg="5"
        :xl="
          $vuetify.breakpoint.width > 1900 && $vuetify.breakpoint.width < 2250
            ? 7
            : 5
        "
        class="pr-0"
      >
        <v-select
          hide-details
          dense
          value="1"
          outlined
          class="selectQ"
          color="black"
          v-if="!notAvailable"
          :items="items"
          v-model="quantity"
        />
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col
        :style="`${
          notAvailable && item.discount
            ? 'padding-top: 13px'
            : notAvailable && !item.discount
            ? 'padding-top: 23px'
            : ''
        }`"
      >
        <v-btn
          block
          :disabled="disableControls || notAvailable"
          height="35"
          color="#99d420"
          small
          @click="addToCart()"
        >
          <v-avatar>
            <v-icon color="white">mdi-plus</v-icon>
            <v-icon color="white">mdi-cart</v-icon>
          </v-avatar>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: ["notAvailable", "item", "itemId", "disableControls"],
  data() {
    return {
      quantity: 1,
      items: null,
    };
  },

  beforeMount() {
    this.populateItems();
  },
  beforeDestroy() {
    this.$root.$off("updateProductQuantities");
  },
  mounted() {
    this.$root.$on("updateProductQuantities", () => {
      this.populateItems();
    });
  },
  methods: {
    populateItems() {
      let available_quant = 0;
      if (this.item.preorder_max_quant > 0) {
        available_quant = Math.min(
          this.item.preorder_max_quant,
          this.item.sell_quantity - this.item.sell_unit
        );
      } else available_quant = this.item.sell_quantity - this.item.sell_unit;
      this.items = Array.from({ length: available_quant }, (_, i) => i + 1);
    },
    addToCart() {
      this.$root.$emit("disableAddToCart");
      this.$root.$emit("addProductToCart", this.itemId, this.quantity);
      this.quantity = 1;
    },
  },
};
</script>

<style scoped>
.selectQ {
  max-height: 32px !important;
}
</style>