<template>
  <v-card flat class="" style="border-radius: 12px" :width="width ? width : ''">
    <v-app-bar height="30" flat color="rgba(0, 0, 0, 0)">
      <v-spacer />
    </v-app-bar>

    <nuxt-link nuxt :to="'/shop/p/' + item.id">
      <v-img
        :alt="item.title"
        height="150px"
        width="auto"
        :src="
          item.image
            ? item.image
            : 'https://res.cloudinary.com/laiki-eu/image/upload/v1652970230/assets/laiki_mini_logo_hbvhtm.webp'
        "
        contain
      />
    </nuxt-link>

    <nuxt-link nuxt :to="'/shop/p/' + item.id">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-card-text
            style="height: 60px"
            v-line-clamp="2"
            v-bind="attrs"
            v-on="on"
            class="titleHover fs-16 mt-3 font-weight-bold text-break"
          >
            {{ item.title }}
          </v-card-text>
        </template>
        <span>{{ item.title }}</span>
      </v-tooltip>
    </nuxt-link>
    <!-- <v-card-text class="mt-n7 text-truncate" style="font-size: 14px">
      {{ item.categories[item.categories.length - 1].title }}
    </v-card-text> -->
    <nuxt-link
      v-if="producer || !item.supplier.isProducer"
      to="/shop/suppliers/laiki"
      style="color: #717171 !important"
    >
      <v-card-text class="mt-n2 text-truncate" style="font-size: 14px">
        Επιλεγμένοι προμηθευτές
      </v-card-text>
    </nuxt-link>
    <nuxt-link
      v-else
      :to="`/shop/suppliers/${item.shop.id}`"
      style="color: #717171 !important"
    >
      <v-card-text class="mt-n2 text-truncate" style="font-size: 14px">
        {{ item.supplier.first_name }}
        {{ item.supplier.last_name }}
      </v-card-text>
    </nuxt-link>
    <v-card-text class="mt-n7" style="font-size: 14px" v-if="!hideControls">
      {{
        item.weight.includes("pcs")
          ? item.weight.replace("pcs", "τμχ")
          : item.weight
      }}
    </v-card-text>

    <!-- <v-card-text class="mt-n7" style="margin-left: -2px">
      <v-row align="center">
        <v-col sm="5">
          <nuxt-link nuxt :to="'/shop/p/' + item.id">
            <v-rating
              :value="item.rating.value"
              color="amber"
              dense
              half-increments
              readonly
              size="14"
            ></v-rating>
          </nuxt-link>
        </v-col>
        <v-col>
          <div class="grey--text">
            {{ Number.parseFloat(item.rating.value).toFixed(1) }}
            ({{ item.rating.num }})
          </div>
        </v-col>
      </v-row>
    </v-card-text> -->

    <v-divider v-if="!hideControls" class="mt-n3"></v-divider>

    <!-- Add to cart actions -->
    <v-card-text>
      <ProductPriceRow v-if="hideControls == true" :item="item" />
      <ProductAddToCart
        v-else
        :notAvailable="!$api.helper.checkAvailability(item)"
        :item="item"
        :itemId="item.id"
        :disableControls="disableControls"
      />
    </v-card-text>
    <!-- Availability text -->
    <v-card-text class="mt-n3" v-if="!hideControls">
      <v-row>
        <v-col>
          <span
            v-if="$api.helper.checkAvailability(item)"
            class="text-h8 fs-12 green--text"
            >σε απόθεμα</span
          >
          <span v-else class="text-h8 red--text fs-12">
            προσωρινά εξαντλημένο
          </span>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["item", "producer", "disableControls", "width", "hideControls"],
  data() {
    return {
      buttonLoading: false,
      loader: null,
      showFilledHeart: false,
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 2000);
      this.loader = null;
    },
  },
};
</script>