<template>
  <AisInstantSearchSsr>
    <FiltersFab
      v-if="$vuetify.breakpoint.mobile"
      v-on:changeDrawerStatus="
        () => {
          showDrawer = !showDrawer;
        }
      "
    />
    <Appbar />
    <v-container fluid class="mt-2">
      <AisConfigure :hits-per-page.camel="20" />
      <v-navigation-drawer
        color="#F0F0F0"
        width="300"
        app
        temporary
        left
        height="100%"
        v-model="showDrawer"
      >
        <v-row justify="center" align="center">
          <v-card
            flat
            class="text-left pa-2"
            min-width="300"
            max-width="300"
            color="transparent"
          >
            <SideFilters class="mt-5" />
          </v-card>
        </v-row>
      </v-navigation-drawer>
      <v-row justify="center">
        <v-col cols="11" xl="9">
          <v-row justify="center" align="start">
            <v-col v-if="!$vuetify.breakpoint.mobile" md="3">
              <SideFilters class="mt-6" />
            </v-col>
            <v-col cols="11" md="9">
              <AisHits>
                <template slot-scope="{ items }">
                  <v-row
                    align="center"
                    justify="start"
                    v-if="showCurrentRefineMents"
                    :class="!$vuetify.breakpoint.mobile ? 'mt-1' : ''"
                  >
                    <v-col cols="12" class="pl-0">
                      <FiltersCurrentRefinements class="ml-n5" />
                    </v-col>
                  </v-row>
                  <v-row align="start" justify="start" class="mt-2">
                    <v-col
                      :xl="
                        $vuetify.breakpoint.width > 1900 &&
                        $vuetify.breakpoint.width < 2250
                          ? 3
                          : 2
                      "
                      lg="3"
                      md="4"
                      sm="6"
                      cols="12"
                    >
                      <FiltersSort />
                    </v-col>
                  </v-row>
                  <v-row align="start">
                    <v-col
                      align-self="start"
                      :xl="
                        $vuetify.breakpoint.width > 1900 &&
                        $vuetify.breakpoint.width < 2250
                          ? 3
                          : 2
                      "
                      lg="3"
                      md="4"
                      sm="6"
                      cols="12"
                      v-for="item in items"
                      :key="item.objectID"
                    >
                      <ProductCard :item="item" />
                    </v-col>
                  </v-row>

                  <v-row justify="center">
                    <v-col cols="5">
                      <Pagination />
                    </v-col>
                  </v-row>
                </template>
              </AisHits>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </AisInstantSearchSsr>
</template>


<script>
import {
  AisInstantSearchSsr,
  AisConfigure,
  AisHits,
  AisSearchBox,
  createServerRootMixin,
} from "vue-instantsearch";
import algoliasearch from "algoliasearch/lite";

const searchClient = algoliasearch(
  "ZE1M6DB26P",
  "4cb4c9e55e2fa88bd67e2a08ec7618ec"
);
function renderToString(app) {
  return new Promise((resolve, reject) => {
    _renderToString(app, (err, res) => {
      if (err) reject(err);
      resolve(res);
    });
  });
}

function nuxtRouter(vueRouter) {
  return {
    read() {
      return vueRouter.currentRoute.query;
    },
    write(routeState) {
      // Only push a new entry if the URL changed (avoid duplicated entries in the history)
      if (this.createURL(routeState) === this.createURL(this.read())) {
        return;
      }
      vueRouter.push({
        query: routeState,
      });
    },
    createURL(routeState) {
      return vueRouter.resolve({
        query: routeState,
      }).href;
    },
    onUpdate(cb) {
      if (typeof window === "undefined") return;

      this._removeAfterEach = vueRouter.afterEach(() => {
        cb(this.read());
      });

      this._onPopState = (event) => {
        const routeState = event.state;
        // On initial load, the state is read from the URL without
        // update. Therefore, the state object isn't present. In this
        // case, we fallback and read the URL.
        if (!routeState) {
          cb(this.read());
        } else {
          cb(routeState);
        }
      };
      window.addEventListener("popstate", this._onPopState);
    },
    dispose() {
      if (typeof window === "undefined") {
        return;
      }
      if (this._onPopState) {
        window.removeEventListener("popstate", this._onPopState);
      }
      if (this._removeAfterEach) {
        this._removeAfterEach();
      }
    },
  };
}

export default {
  serverPrefetch() {
    return this.instantsearch
      .findResultsState({ component: this, renderToString })
      .then((algoliaState) => {
        this.$ssrContext.nuxt.algoliaState = algoliaState;
      });
  },
  beforeMount() {
    const results =
      (this.$nuxt.context && this.$nuxt.context.nuxtState.algoliaState) ||
      window.__NUXT__.algoliaState;

    this.instantsearch.hydrate(results);

    // Remove the SSR state so it can't be applied again by mistake
    delete this.$nuxt.context.nuxtState.algoliaState;
    delete window.__NUXT__.algoliaState;
    this.renderRefinementBar();
  },
  provide() {
    return {
      // Provide the InstantSearch instance for SSR
      $_ais_ssrInstantSearchInstance: this.instantsearch,
    };
  },
  components: {
    AisConfigure,
    AisInstantSearchSsr,
    AisHits,
    AisSearchBox,
  },
  data() {
    const mixin = createServerRootMixin({
      searchClient,
      indexName: "my_own_prefix_gear",
      routing: {
        router: nuxtRouter(this.$router),
      },
    });
    return {
      ...mixin.data(),
      showDrawer: false,
      showCurrentRefineMents: false,
    };
  },
  watch: {
    $route() {
      this.renderRefinementBar();
    },
  },
  methods: {
    renderRefinementBar() {
      if (
        "my_own_prefix_gear" in this.$route.query &&
        ("hierarchicalMenu" in this.$route.query.my_own_prefix_gear ||
          "refinementList" in this.$route.query.my_own_prefix_gear ||
          "numericMenu" in this.$route.query.my_own_prefix_gear)
      )
        this.showCurrentRefineMents = true;
      else this.showCurrentRefineMents = false;
    },
  },
};
</script>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ais-CurrentRefinements-list {
  display: block !important;
}
.ais-CurrentRefinements-item {
  margin-top: 10px;
  border: 0px;
  background: transparent;
}
</style>
